.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

.NavLink {
 text-decoration: none;
}

@media (min-width: 550px) {
  .NavigationItems {
    flex-flow: row;
  }
}